<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <connectionStrings>
    <!--<add name="NSISConnectionStringDev"
      connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.24.2.67)(PORT = 1524))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = nsis)));USER ID=NSIS;PASSWORD=nsis"
      providerName="System.Data.OracleClient"/>
    <add name="NSISConnectionStringLive"
      connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.24.2.2)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = nsis)));USER ID=NSIS;PASSWORD=nsis"
      providerName="System.Data.OracleClient"/>
    <add name="NSISConnectionStringCurrent"
      connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.24.2.2)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = nsis)));USER ID=NSIS;PASSWORD=nsis"
      providerName="System.Data.OracleClient"/>-->
    <!--<add name="MySqlConnection" connectionString="Data Source=SHAREPOINT2013;Initial Catalog=aspnetdb;user id=sa;password=Kesc@123;"/>-->
    <!--<add name="KESCDUPBILLConnectionString" connectionString="Data Source=172.16.200.72;Initial Catalog=KESCDUPBILL;User ID=application;Password=$samsung@786" providerName="System.Data.SqlClient" />
    <add name="TApplicationServices" connectionString="Data Source=172.16.200.72;Initial Catalog=KESCDUPBILL;User Id=application;Password=$samsung@786;" />
    <add name="DupbillConnectionString" connectionString="Data Source=172.16.200.72;Initial Catalog=KESCDUPBILL;user id=application;password=$samsung@786; Max Pool Size=200;"/>-->

    <add name="KESCDUPBILLConnectionString" connectionString="Data Source=dbilling.ke.com.pk;Initial Catalog=KESCDUPBILL;MultipleActiveResultSets=true;User ID=application;Password=$samsung@786" providerName="System.Data.SqlClient" />
    
    
    <!--<add name="KESCDUPBILLConnectionString" connectionString="Data Source=172.16.100.72;Initial Catalog=KESCDUPBILL;User Id=application;Password=$samsung@786;Max Pool Size=200;" />-->
    <add name="TApplicationServices" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=KESCDUPBILL;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;" />
    <add name="DupbillConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=KESCDUPBILL;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;"/>
<!--Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=KESCDUPBILL;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False-->
  
  
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ConsumerPortalNetService.PC" behaviorConfiguration="ServiceBehaviour">
        <!--deployment-->
        <!--<endpoint address="" binding="webHttpBinding" contract="ConsumerPortalNetService.IPC" bindingConfiguration="webBinding" behaviorConfiguration="web"/>-->
         
        <!--dev-->
        <endpoint address="" binding="webHttpBinding" contract="ConsumerPortalNetService.IPC" behaviorConfiguration="web"/>

      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
          <security mode="Transport"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>